[Unit]  
Description=Dotnet Core Travel Agency Admin service  
  
[Service]  
ExecStart=dotnet /root/TAAdminDemo/TravelAgency.Admin.dll  
WorkingDirectory=/root/TAAdminDemo/ 
User=root  
Group=root  
Restart=always
RestartSec=5  
SyslogIdentifier=dotnet-TAAdmin-service  
PrivateTemp=true  
Environment=ASPNETCORE_ENVIRONMENT=Development
KillSignal=SIGINT
StandardOutput=file:/root/TAAdminDemo/AAALogs/standardOutput.log
StandardError=file:/root/TAAdminDemo/AAALogs/standardError.log

[Install]  
WantedBy=multi-user.target  