USE [GLOBALNET]
GO
/****** Object:  StoredProcedure [dbo].[DB_SETRIGHTS]    Script Date: 12.03.2023 15:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE procedure [dbo].[DB_SETRIGHTS]
AS
BEGIN 
	BEGIN TRY CREATE USER [globalnet] FOR LOGIN [globalnet] END TRY BEGIN CATCH END CATCH;
	BEGIN TRY ALTER ROLE [db_datareader] ADD MEMBER [globalnet]; END TRY BEGIN CATCH END CATCH;
	BEGIN TRY ALTER ROLE [db_datawriter] ADD MEMBER [globalnet]; END TRY BEGIN CATCH END CATCH;
	BEGIN TRY GRANT EXECUTE TO [globalnet]; END TRY BEGIN CATCH END CATCH;
END;
GO
