/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2101)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2019
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [EASYDATACenter]
GO
/****** Object:  Table [dbo].[LoginHistoryList]    Script Date: 03.05.2023 11:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistoryList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IpAddress] [varchar](50) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [varchar](150) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LoginHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LoginHistoryList] ON 

INSERT [dbo].[LoginHistoryList] ([Id], [IpAddress], [UserId], [UserName], [Timestamp]) VALUES (11, N'192.168.1.141', 0, N'tester', CAST(N'2022-11-29T13:44:12.4553928' AS DateTime2))
INSERT [dbo].[LoginHistoryList] ([Id], [IpAddress], [UserId], [UserName], [Timestamp]) VALUES (12, N'192.168.1.141', 0, N'system', CAST(N'2022-11-29T13:58:21.9908793' AS DateTime2))
INSERT [dbo].[LoginHistoryList] ([Id], [IpAddress], [UserId], [UserName], [Timestamp]) VALUES (13, N'192.168.1.141', 0, N'system', CAST(N'2022-11-29T13:58:33.8513301' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[LoginHistoryList] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LoginHistoryList]    Script Date: 03.05.2023 11:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_LoginHistoryList] ON [dbo].[LoginHistoryList]
(
	[IpAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoginHistoryList_1]    Script Date: 03.05.2023 11:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_LoginHistoryList_1] ON [dbo].[LoginHistoryList]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LoginHistoryList] ADD  CONSTRAINT [DF_LoginHistoryList_UserId]  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[LoginHistoryList] ADD  CONSTRAINT [DF_LoginHistory_timestamp]  DEFAULT (getdate()) FOR [Timestamp]
GO
