/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2101)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2019
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [EASYDATACenter]
GO
/****** Object:  Table [dbo].[ProdGuidOperationList]    Script Date: 03.05.2023 11:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProdGuidOperationList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkPlace] [int] NOT NULL,
	[PartNumber] [varchar](50) NOT NULL,
	[OperationNumber] [int] NOT NULL,
	[Note] [varchar](100) NOT NULL,
	[PcsPerHour] [int] NOT NULL,
	[KcPerKs] [numeric](10, 4) NOT NULL,
	[UserId] [int] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ProdGuidOperationList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProdGuidOperationList] ON 

INSERT [dbo].[ProdGuidOperationList] ([Id], [WorkPlace], [PartNumber], [OperationNumber], [Note], [PcsPerHour], [KcPerKs], [UserId], [Timestamp]) VALUES (1, 126, N'7H0 801 253 C', 29, N'1. operace - lisování + mazání', 95, CAST(1.1925 AS Numeric(10, 4)), 1, CAST(N'2022-11-13T06:51:59.0100000' AS DateTime2))
INSERT [dbo].[ProdGuidOperationList] ([Id], [WorkPlace], [PartNumber], [OperationNumber], [Note], [PcsPerHour], [KcPerKs], [UserId], [Timestamp]) VALUES (2, 126, N'7H0 801 253 C', 30, N'2. operace - lisování', 141, CAST(0.8800 AS Numeric(10, 4)), 1, CAST(N'2022-11-13T06:51:59.0470000' AS DateTime2))
INSERT [dbo].[ProdGuidOperationList] ([Id], [WorkPlace], [PartNumber], [OperationNumber], [Note], [PcsPerHour], [KcPerKs], [UserId], [Timestamp]) VALUES (3, 126, N'7H0 801 253 C', 31, N'3. operace - lisování', 141, CAST(0.9000 AS Numeric(10, 4)), 1, CAST(N'2022-11-13T06:51:59.0800000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[ProdGuidOperationList] OFF
/****** Object:  Index [IX_ProdGuidOperationList]    Script Date: 03.05.2023 11:24:04 ******/
ALTER TABLE [dbo].[ProdGuidOperationList] ADD  CONSTRAINT [IX_ProdGuidOperationList] UNIQUE NONCLUSTERED 
(
	[WorkPlace] ASC,
	[OperationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProdGuidOperationList] ADD  CONSTRAINT [DF_ProdGuidOperationList_Timestamp]  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[ProdGuidOperationList]  WITH CHECK ADD  CONSTRAINT [FK_ProdGuidOperationList_UserList] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserList] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProdGuidOperationList] CHECK CONSTRAINT [FK_ProdGuidOperationList_UserList]
GO
